 /*ISAQUE*/
 /*NAVBAR/FORMULARIO*/
 * {
     font-family: 'poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-padding-top: smooth;
     scroll-behavior: none;
     text-decoration: none;
 }



 /* EDUARDA*/
 /*LOGIN*/
 #body1 {

     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     background-color: rgb(95, 95, 95);
 }



 #conteiner1 {
     border-radius: 0px 20px;
     width: 800px;
     height: 500px;
     background-color: rgb(45, 45, 45);
     transform: translate(70%, 40%);

 }

 #faixa1 {
     border-radius: 0px 50px 0px 20px;
     margin-top: 340px;
     position: absolute;
     height: 170px;
     width: 800px;
     background-color: white;

 }

 .header1 {
     text-align: left;
     margin-top: 50px;
     position: absolute;

 }

 .header1 h1 {
     margin: 50px;
     font-size: 21px;
     color: #e9e9e9;
 }

 .buttons1 {
     text-align: center;
     margin-top: 20px;
 }

 .button1 {
     width: 200px;
     padding: 12px 18px;
     margin: 10px 0;
     border: none;
     background-color: #a8a8a8;
     color: #000000;
     font-size: 15px;
     cursor: pointer;
     border-radius: 19px;
     font-weight: bold;
 }

 .button1:hover {
     background-color: #949494;
 }

 .admin-login1 {
     margin-top: -20px;
     color: #FFFFFF;
     text-align: right;
     margin-right: 20px;
 }

 .admin-login1 a {
     color: #000000;
     text-decoration: none;
     font-size: 14px;
     font-weight: bold;
 }

 .admin-login1 a:hover {
     color: #717171;
 }

 .admin-login1 i {
     color: #000000;
     text-decoration: none;
     font-size: 19px;
 }

 .admin-login1 i:hover {
     color: #717171;
 }

 #conteiner2 {
     border-radius: 0px 20px;
     width: 800px;
     height: 500px;
     background-color: rgb(45, 45, 45);
     transform: translate(70%, 40%);
 }

 #faixa2 {
     border-radius: 0px 50px 0px 20px;
     margin-top: 340px;
     position: absolute;
     height: 170px;
     width: 800px;
     background-color: white;

 }

 .header2 {
     text-align: left;
     margin-top: 50px;
     position: absolute;
 }

 .header2 h1 {
     margin: 50px;
     font-size: 22px;
     color: #e9e9e9;
 }

 .buttons2 {
     text-align: center;
     margin-top: 20px;
 }

 .button2 {
     width: 200px;
     padding: 12px 18px;
     margin: 10px 0;
     border: none;
     background-color: #a8a8a8;
     color: #000000;
     font-size: 15px;
     cursor: pointer;
     border-radius: 19px;
     font-weight: bold;
 }

 .button2:hover {
     background-color: #949494;
 }

 .admin-login2 {
     margin-top: -20px;
     color: #FFFFFF;
     text-align: right;
     margin-right: 20px;
 }

 .admin-login2 a {
     color: #000000;
     text-decoration: none;
     font-size: 14px;
     font-weight: bold;
 }

 .admin-login2 a:hover {
     color: #717171;
 }

 .admin-login2 i {
     color: #000000;
     text-decoration: none;
     font-size: 19px;
 }

 .admin-login2 i:hover {
     color: #717171;
 }

 #conteiner3 {
     border-radius: 30px 0px 20px 0px;
     width: 800px;
     height: 500px;
     background-color: rgb(45, 45, 45);
     transform: translate(70%, 40%);
 }

 #faixa3 {
     font-size: 10px;
     text-align: left;
     border-radius: 30px 0px 50px 0px;
     margin-top: 0px;
     position: absolute;
     height: 140px;
     width: 800px;
     background-color: white;

 }

 #faixa3 h1 {
     margin-top: 55px;
     margin-left: 30px;
 }

 .header3 {
     text-align: left;
     margin-top: 150px;
     position: absolute;
 }

 .header3 h1 {
     margin-top: 200px;
     margin: 50px;
     font-size: 15px;
     color: #e9e9e9;
 }


 .buttons3 h1 {
     color: #fff;
     font-size: 15px;
 }


 .buttons3 {
     margin-left: 10%;
     text-align: left;
     margin-top: 20px;
 }

 .button3 {
     display: flex;
     justify-content: center;
     margin: 10px 100px 10px 30px;
     align-items: center;
     width: 130px;
     padding: 6px 12px;
     border: none;
     background-color: #a8a8a8;
     color: rgb(45, 45, 45);
     font-size: 12px;
     cursor: pointer;
     border-radius: 19px;
     font-weight: bold;
 }

 .button3:hover {
     background-color: #949494;
 }

 .admin-login3 {
     margin-top: 20px;
     color: #FFFFFF;
     text-align: left;
     margin-left: 30px;
 }

 .admin-login3 a {
     color: #000000;
     text-decoration: none;
     font-size: 14px;
     font-weight: bold;
 }

 .admin-login3 a:hover {
     color: #717171;
 }

 .admin-login3 i {
     color: #000000;
     text-decoration: none;
     font-size: 19px;
 }

 .admin-login3 i:hover {
     color: #717171;
 }

 .input-group3 {
     display: flex;
     flex-direction: column;
     align-items: right;
     color: #FFFFFF;

 }

 .input-group3 label {
     display: flex;
     flex-direction: column;
     align-items: right;
     color: #FFFFFF;

 }

 .input-group3 input {
     background: rgba(255, 255, 255, 0.727);
     color: #000000;
     padding: 9px;
     margin: 7px 0;
     width: 190px;
     border: none;
     outline: none;
     border-radius: 12px;
 }

 .input-group3 input:focus {
     background: rgba(255, 255, 255, 0.495);
 }

 .input-group3 input::placeholder {
     color: #fff;
 }

 .input-group3 a {
     text-decoration: none;
     margin: 8px 0;
     color: #fff;
     font-size: 14px;
     font-weight: 400;
 }

 .form-container3 {
     margin-left: 65px;
     margin-top: 20px;
     float: left;
     width: 50%;
 }

 .form-container3 form {
     display: flex;
     flex-direction: column;
 }

 .form-container3 label {
     font-size: 15px;
     margin-bottom: 5px;
 }

 .text-container3 {
     margin-top: 35px;
     margin-left: 345px;
     float: right;
     width: 90%;
     padding: 20px;
     border-radius: 10px;
 }

 .container3 {
     display: flex;
     justify-content: space-between;
 }

 .left-div3,
 .right-div3 {
     width: 50%;
     padding: 10px;
 }

 .right-div3 {
     padding: 10px;
     float: right;
 }

 #conteiner4 {
     border-radius: 30px 0px 20px 0px;
     width: 800px;
     height: 500px;
     background-color: rgb(45, 45, 45);
     transform: translate(70%, 40%);
 }

 #faixa4 {
     font-size: 10px;
     text-align: left;
     border-radius: 30px 0px 50px 0px;
     margin-top: 0px;
     position: absolute;
     height: 140px;
     width: 800px;
     background-color: white;

 }

 #faix4 h1 {
     margin-top: 55px;
     margin-left: 30px;
 }

 .header4 {
     text-align: left;
     margin-top: 150px;
     position: absolute;
 }

 .header4 h1 {
     margin-top: 200px;
     margin: 50px;
     font-size: 15px;
     color: #e9e9e9;
 }


 .buttons4 h1 {
     color: #fff;
     font-size: 15px;
 }


 .buttons4 {
     margin-left: 10%;
     text-align: left;
     margin-top: 20px;
 }

 .button4 {
     display: flex;
     justify-content: center;
     margin: 10px 100px 10px 30px;
     align-items: center;
     width: 130px;
     padding: 6px 12px;
     border: none;
     background-color: #a8a8a8;
     color: rgb(45, 45, 45);
     font-size: 12px;
     cursor: pointer;
     border-radius: 19px;
     font-weight: bold;
 }

 .button4:hover {
     background-color: #949494;
 }

 .admin-login4 {
     margin-top: 20px;
     color: #FFFFFF;
     text-align: left;
     margin-left: 30px;
 }

 .admin-login4 a {
     color: #000000;
     text-decoration: none;
     font-size: 14px;
     font-weight: bold;
 }

 .admin-login4 a:hover {
     color: #717171;
 }

 .admin-login4 i {
     color: #000000;
     text-decoration: none;
     font-size: 19px;
 }

 .admin-login4 i:hover {
     color: #717171;
 }

 .input-group4 {
     display: flex;
     flex-direction: column;
     align-items: right;
     color: #FFFFFF;

 }

 .input-group4 label {
     display: flex;
     flex-direction: column;
     align-items: right;
     color: #FFFFFF;

 }

 .input-group4 input {
     background: rgba(255, 255, 255, 0.727);
     color: #000000;
     padding: 9px;
     margin: 7px 0;
     width: 190px;
     border: none;
     outline: none;
     border-radius: 12px;
 }

 .input-group4 input:focus {
     background: rgba(255, 255, 255, 0.495);
 }

 .input-group4 input::placeholder {
     color: #fff;
 }

 .input-group4 a {
     text-decoration: none;
     margin: 8px 0;
     color: #fff;
     font-size: 14px;
     font-weight: 400;
 }

 .form-container4 {
     margin-left: 80px;
     margin-top: 20px;
     float: left;
     width: 50%;
 }

 .form-container4 form {
     display: flex;
     flex-direction: column;
 }

 .form-container4 label {
     font-size: 15px;
     margin-bottom: 5px;
 }

 .text-container4 {
     margin-top: 35px;
     margin-left: 345px;
     float: right;
     width: 90%;
     padding: 20px;
     border-radius: 10px;
 }

 .container4 {
     display: flex;
     justify-content: space-between;

 }

 .left-div4,
 .right-div4 {
     width: 50%;
     padding: 10px;
 }

 .right-div4 {
     padding: 10px;
     float: right;/
 }

 #conteiner5 {
     border-radius: 0px 20px 0px 20px;
     width: 800px;
     height: 500px;
     background-color: rgb(45, 45, 45);
     transform: translate(70%, 40%);
 }

 #faixa5 {
     font-size: 10px;
     text-align: right;
     border-radius: 0px 20px 0px 50px;
     margin-top: 0px;
     position: absolute;
     height: 140px;
     width: 800px;
     background-color: white;

 }

 #faixa5 h1 {
     margin-top: 55px;
     margin-right: 30px;
 }

 .header5 {
     text-align: left;
     margin-top: 150px;
     position: absolute;
 }

 .header5 h1 {
     margin-top: 200px;
     margin: 50px;
     font-size: 15px;
     color: #e9e9e9;
 }


 .buttons5 h1 {
     color: #fff;
     font-size: 15px;
 }


 .buttons5 {
     margin-left: 10%;
     text-align: left;
     margin-top: 20px;
 }

 .button5 {
     display: flex;
     justify-content: center;
     margin: 10px 100px 10px 30px;
     align-items: center;
     width: 130px;
     padding: 6px 12px;
     border: none;
     background-color: #a8a8a8;
     color: rgb(45, 45, 45);
     font-size: 12px;
     cursor: pointer;
     border-radius: 19px;
     font-weight: bold;
 }

 .button5:hover {
     background-color: #949494;
 }

 .admin-login5 {
     margin-top: 20px;
     color: #FFFFFF;
     text-align: right;
     margin-right: 30px;
 }

 .admin-login5 a {
     color: #000000;
     text-decoration: none;
     font-size: 14px;
     font-weight: bold;
 }

 .admin-login5 a:hover {
     color: #717171;
 }

 .admin-login5 i {
     color: #000000;
     text-decoration: none;
     font-size: 19px;
 }

 .admin-login5 i:hover {
     color: #717171;
 }

 .input-group5 {
     display: flex;
     flex-direction: column;
     align-items: right;
     color: #FFFFFF;

 }

 .input-group5 label {
     display: flex;
     flex-direction: column;
     align-items: right;
     color: #FFFFFF;

 }

 .input-group5 input {
     background: rgba(255, 255, 255, 0.727);
     color: #000000;
     padding: 9px;
     margin: 7px 0;
     width: 190px;
     border: none;
     outline: none;
     border-radius: 12px;
 }

 .input-group5 input:focus {
     background: rgba(255, 255, 255, 0.495);
 }

 .input-group5 input::placeholder {
     color: #fff;
 }

 .input-group5 a {
     text-decoration: none;
     margin: 8px 0;
     color: #fff;
     font-size: 14px;
     font-weight: 400;
 }

 .form-container5 {
     margin-left: 75px;
     margin-top: 20px;
     float: left;
     width: 50%;
 }

 .form-container5 form {
     display: flex;
     flex-direction: column;
 }

 .form-container5 label {
     font-size: 15px;
     margin-bottom: 5px;
 }

 .text-container5 {
     margin-left: 345px;
     float: right;
     width: 130%;
     padding: 20px;
     border-radius: 10px;
 }

 .container5 {
     display: flex;
     justify-content: space-between;

 }

 .left-div5,
 .right-div5 {
     width: 50%;
     padding: 10px;
 }

 .right-div5 {
     padding: 10px;
     float: right;
 }

 #conteiner6 {
     border-radius: 0px 20px 0px 20px;
     width: 800px;
     height: 500px;
     background-color: rgb(45, 45, 45);
     transform: translate(70%, 40%);
 }

 #faixa6 {
     font-size: 10px;
     text-align: right;
     border-radius: 0px 20px 0px 50px;
     margin-top: 0px;
     position: absolute;
     height: 140px;
     width: 800px;
     background-color: white;

 }

 #faixa6 h1 {
     margin-top: 55px;
     margin-right: 30px;
 }

 .header6 {
     text-align: left;
     margin-top: 150px;
     position: absolute;
 }

 .header6 h1 {
     margin-top: 200px;
     margin: 50px;
     font-size: 15px;
     color: #e9e9e9;
 }


 .buttons6 h1 {
     color: #fff;
     font-size: 15px;
 }


 .buttons6 {
     margin-left: 10%;
     text-align: left;
     margin-top: 20px;
 }

 .button6 {
     display: flex;
     justify-content: center;
     margin: 10px 100px 10px 30px;
     align-items: center;
     width: 130px;
     padding: 6px 12px;
     border: none;
     background-color: #a8a8a8;
     color: rgb(45, 45, 45);
     font-size: 12px;
     cursor: pointer;
     border-radius: 19px;
     font-weight: bold;
 }

 .button6:hover {
     background-color: #949494;
 }

 .admin-login6 {
     margin-top: 20px;
     color: #FFFFFF;
     text-align: right;
     margin-right: 30px;
 }

 .admin-login6 a {
     color: #000000;
     text-decoration: none;
     font-size: 14px;
     font-weight: bold;
 }

 .admin-login6 a:hover {
     color: #717171;
 }

 .admin-login6 i {
     color: #000000;
     text-decoration: none;
     font-size: 19px;
 }

 .admin-login6 i:hover {
     color: #717171;
 }

 .input-group6 {
     display: flex;
     flex-direction: column;
     align-items: right;
     color: #FFFFFF;

 }

 .input-group6 label {
     display: flex;
     flex-direction: column;
     align-items: right;
     color: #FFFFFF;

 }

 .input-group6 input {
     background: rgba(255, 255, 255, 0.727);
     color: #000000;
     padding: 9px;
     margin: 7px 0;
     width: 190px;
     border: none;
     outline: none;
     border-radius: 12px;
 }

 .input-group6 input:focus {
     background: rgba(255, 255, 255, 0.495);
 }

 .input-group6 input::placeholder {
     color: #fff;
 }

 .input-group6 a {
     text-decoration: none;
     margin: 8px 0;
     color: #fff;
     font-size: 14px;
     font-weight: 400;
 }

 .form-container6 {
     margin-left: 65px;
     margin-top: 20px;
     float: left;
     width: 50%;
 }

 .form-container6 form {
     display: flex;
     flex-direction: column;
 }

 .form-container6 label {
     font-size: 15px;
     margin-bottom: 5px;
 }

 .text-container6 {
     margin-right: 10px;
     float: right;
     width: 130%;
     padding: 20px;
     border-radius: 10px;
 }

 .container6 {
     display: flex;
     justify-content: space-between;
 }

 .left-div6,
 .right-div6 {
     width: 50%;
     padding: 10px;
 }

 .right-div6 {
     padding: 10px;
     float: right;
 }



 /*IAN*/

 /*Tela inicial*/
 #telainicial {
     background-image: url('../img/fundo.avif');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     background-attachment: fixed;
 }

 #header-inicial {
     background-color: transparent;
 }

 .nav-bar {
     display: flex;
     justify-content: space-between;
     padding: 0.4rem 3rem;
 }

 .logo {
     display: flex;
     align-items: center;
 }

 .logo h1 {
     color: black;
 }

 .nav-list {
     display: flex;
     align-items: center;
 }

 .nav-list ul {
     display: flex;
     justify-content: center;
     list-style: none;
 }

 .nav-item {
     margin: 0 15px;
 }

 .nav-link {
     text-decoration: none;
     font-size: 1.0rem;
     color: black;
     font-weight: 400;
     padding: 3px 10px;
 }

 .nav-link:hover {
     text-decoration: none;
     font-size: 1.0rem;
     color: rgb(83, 83, 83);
     border-radius: 5px;
     font-weight: 400;
 }

 .login-button button {
     border: none;
     padding: 10px 15px;
     border-radius: 5px;
     background-color: transparent;
 }

 .login-button button a {
     text-decoration: none;
     color: black;
     font-weight: 500;
     font-size: 1.1rem;
 }

 .login-button .icon:hover {
     filter: brightness(1000%);
 }

 .fi.fi-rs-circle-user {
     color: black;
     font-size: 22px;
 }

 .fi.fi-rs-circle-user:hover {
     color: rgb(83, 83, 83);
 }

 .login-button button a i {
     color: black;
 }

 .login-button button a i:hover {
     color: black;
     border: none;
 }

 .mobile-menu-icon {
     display: none;
     background-color: transparent;
 }

 .mobile-menu {
     display: none;
 }

 .botao-acessar {
     position: fixed;
     bottom: 50px;
     left: 50%;
     transform: translateX(-50%);
     z-index: 999;
 }

 .botao-acessar button {
     padding: 10px 70px;
     font-size: 14px;
     background-color: #D9D9D9;
     color: black;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-weight: bolder;
 }

 .botao-acessar button:hover {
     background-color: #cecdcd;
 }

 .botao-acessar a {
     color: black;
 }

 @media screen and (max-width: 730px) {

     #telainicial {
         background-image: url('../img/fundoresponsivo.avif');
     }

     .nav-bar {
         padding: 0.5rem 3rem;
     }

     .nav-item {
         display: none;
     }

     .login-button {
         display: none;
     }

     .mobile-menu-icon {
         display: block;
     }

     .mobile-menu-icon button {
         background-color: transparent;
         border: none;
         cursor: pointer;
     }

     .mobile-menu ul {
         display: flex;
         flex-direction: column;
         text-align: center;
         padding-bottom: 1rem;
     }

     .mobile-menu .nav-item {
         display: block;
         padding-top: 1.2rem;
     }

     .mobile-menu .login-button {
         display: block;
         padding: 1rem 2rem;
     }

     .mobile-menu .login-button button {
         width: 100%;
     }

     .open {
         display: block;
     }
 }

 @media screen and (max-width: 00px) {
     body {
         background-image: none;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         background-attachment: fixed;
     }
 }