@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: smooth;
    scroll-behavior: none;
    text-decoration: none;
}


#body2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: white;
}

::selection {
    color: #fff;
    background: #ffffff;
}

.container {
    width: 100%;
    max-width: 1500px;
    height: 1000PX;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}

.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.container .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    width: 100%;
    margin: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-outer form .page .field .label {
    font-weight: 500;
    margin-bottom: 5px;
}

form .page .field input,
form .page .field select {

    width: 100%;
    max-width: 300px;
    height: 45px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
}

form .page .field button {
    width: 100%;
    max-width: 300px;
    height: 45px;
    border: none;
    background: #000000;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover {
    background: #000;
}

.form-outer form .page .btns {
    display: flex;
    justify-content: space-between;
}

.form-outer form .page .btns button.prev,
.form-outer form .page .btns button.next,
.form-outer form .page .btns button.submit1 {
    width: calc(33.33% - 10px);
}

.container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

.container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #696969;
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .step .bullet.active {
    border-color: #000000;
    background: #000000;
}

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 9px;
    right: -335px;
    height: 3px;
    width: 335px;
    background: #737373;
}

.progress-bar .step .bullet.active:after {
    background: #000000;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    font-weight: bolder;
    color: #000000;
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

#foto__input1,
#foto__input2,
#foto__input3,
#foto__input4,
#foto__input5,
#foto__input6,
#foto__input7,
#foto__input8 {
    display: none;
}

.foto-container {
    width: 200px;
    margin: 20px;
    display: inline-block;
}

.foto {

    margin-left: 150px;
    position: absolute;
    margin-top: -10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.foto2 {

    margin-left: 150px;
    position: absolute;
    margin-top: -10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.foto3 {
    margin-left: 150px;
    position: absolute;
    margin-top: -10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.foto4 {
    margin-left: 150px;
    position: absolute;
    margin-top: -10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.foto5 {
    margin-left: -830px;
    position: absolute;
    margin-top: 200px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.foto6 {
    margin-left: 150px;
    position: absolute;
    margin-top: 155px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.foto7 {
    margin-left: 150px;
    position: absolute;
    margin-top: 155px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.foto8 {
    margin-left: 155px;
    position: absolute;
    margin-top: 150px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

#fto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
}

.foto:hover {
    color: #777;
    background: #e8e8e8;
}

.foto:active {
    border-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    background: #eee;
}

.foto:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto__img {

    max-width: 100%;
}

.foto2:hover {
    color: #777;
    background: #e8e8e8;
}

.foto2:active {
    border-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    background: #eee;
}

.foto2:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto2__img {

    max-width: 100%;
}

.foto3:hover {
    color: #777;
    background: #e8e8e8;
}

.foto3:active {
    border-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    background: #eee;
}

.foto3:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto3__img {

    max-width: 100%;
}

.foto4:hover {
    color: #777;
    background: #e8e8e8;
}

.foto4:active {
    border-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    background: #eee;
}

.foto4:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto4__img {

    max-width: 100%;
}

.foto5:hover {
    color: #777;
    background: #e8e8e8;
}

.foto5:active {
    border-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    background: #eee;
}

.foto5:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto5__img {

    max-width: 100%;
}

.foto6:hover {
    color: #777;
    background: #e8e8e8;
}

.foto6:active {
    border-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    background: #eee;
}

.foto6:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto6__img {

    max-width: 100%;
}

.foto7:hover {
    color: #777;
    background: #e8e8e8;
}

.foto7:active {
    border-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    background: #eee;
}

.foto7:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto7__img {

    max-width: 100%;
}

.foto8:hover {
    color: #777;
    background: #e8e8e8;
}

.foto8:active {
    border-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    background: #eee;
}

.foto8:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foto8__img {

    max-width: 100%;
}

#a {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.remover-foto {
    font-weight: bolder;
    padding-top: 2px;
    cursor: pointer;
    font-size: 14px;
    padding: auto;
    background-color: transparent;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: -40px;
    margin-left: 158px;
    border: none;
    padding-top: 6px;
    padding-left: 7px;
    padding-right: 7px;
    position: absolute;
    transition: 0.2s all linear;
}

.remover-foto:hover {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 13px;
    padding-top: 6px;
    padding-left: 7px;
    padding-right: 7px;
    transition: 0.2s all linear;
}

#flecha {

    margin-left: 10px;
    font-size: 13px;
}

#enviar {

    margin-top: 300px;
    margin-left: 600px;

}

#Anterior {
    position: absolute;
    margin-top: 300px;
    margin-right: 580px;
}

#remover {
    margin-top: 100px;
    margin-right: 150px;
}

#remover2 {
    margin-top: 100px;
    margin-right: 150px;
}

#remover3 {
    margin-top: 100px;
    margin-right: 150px;
}

#remover4 {
    margin-top: 100px;
    margin-right: 150px;
}

#remover5 {
    margin-top: 311px;
    margin-left: -820px;
}

#remover6 {
    margin-top: 259px;
    margin-right: 150px;
}

#remover7 {
    margin-top: 259px;
    margin-right: 150px;
}

#remover8 {
    margin-top: 259px;
    margin-right: 150px;
}

.label1 {


    position: absolute;
    margin-top: -40px;
    margin-left: 150px;

}

.label2 {


    position: absolute;
    margin-top: -40px;
    margin-left: 150px;

}

.label3 {


    position: absolute;
    margin-top: -40px;
    margin-left: 150px;

}

.label4 {


    position: absolute;
    margin-top: -40px;
    margin-left: 150px;

}

.label5 {


    position: absolute;
    margin-top: 170px;
    margin-left: -827px;

}

.label6 {


    position: absolute;
    margin-top: 123px;
    margin-left: 150px;

}

.label7 {


    position: absolute;
    margin-top: 123px;
    margin-left: 150px;

}

.label8 {


    position: absolute;
    margin-top: 123px;
    margin-left: 150px;

}

:root {
    --main-color: #e27f0e;
    --segunda-color: #f2e207;
    --text-color: #e8edec;
    --bg-color-: #000000;
    --box-shadow: 0 0 10px #ce8106;
    --tran-all: 0.2s all linear;
}

header {
    margin-right: 1750px;
    margin-top: 50px;
    position: fixed;
    width: 3%;
    height: 48px;
    padding-bottom: 3px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s all linear;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--bg-color-);
    background-color: var(--bg-color-);
    color: #fff;
    padding: 1px;
}

.hd {
    margin-right: 1750px;
    margin-top: 50px;
    position: fixed;
    width: 3%;
    height: 48px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s all linear;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--bg-color-);
    background-color: var(--bg-color-);
    color: #fff;
    padding: 1px;
}

.hd1 {
    margin-right: 1750px;
    margin-top: 50px;
    position: fixed;
    width: 3%;
    height: 360px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s all linear;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--bg-color-);
    background-color: var(--bg-color-);
    color: #fff;
    padding: 1px;
    margin-left: 100px;
}

.nav {
    display: none;
    text-align: center;
}

nav a {
    margin-left: 7px;
    top: 200px;
    position: absolute;
    padding: 5px 10px;
    padding-top: 10px;
}

#bnte {
    cursor: pointer;
    font-size: 30px;
    margin-left: 13px;
    top: 8px;
    position: absolute;
    color: var(--text-color);
    border: none;
    background-color: transparent;
}


#con {
    font-size: 20px;
    border-radius: 13px;
    color: var(--text-colorr);
    text-decoration: none;
    transition: var(--tran-all);
    margin-top: -20px;
}

#con:hover {
    background-color: #313131;
}

#on {
    font-size: 20px;
    border-radius: 13px;
    color: var(--text-colorr);
    text-decoration: none;
    transition: var(--tran-all);
    margin-top: -90px;
}

#on:hover {
    background-color: #313131;
}

#cons {
    margin-left: 10px;
    font-size: 15px;
    border-radius: 13px;
    color: var(--text-colorr);
    text-decoration: none;
    transition: var(--tran-all);
    margin-top: 109px;
}


#con:hover,
#on:hover,
#cons:hover {
    background-color: #313131;
}

#on::after {
    font-weight: bolder;
    content: "Home";
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(80%);
    background-color: rgba(255, 255, 255);
    color: var(--bg-color-);
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0 0 5px var(--bg-color-);
    font-size: 15px;
}

#on:hover::after {
    visibility: visible;
    opacity: 1;
}

input.error {
    border: 1px solid red;
}

.foto-container.error {
    border: 1px solid red;
    padding: 10px;
}

#con::after {
    font-weight: bolder;
    content: "Formulario";
    position: absolute;
    bottom: 1px;
    left: -25%;
    transform: translateX(80%);
    background-color: rgba(255, 255, 255);
    color: var(--bg-color-);
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0 0 5px var(--bg-color-);
    font-size: 15px;
}

#con:hover::after {
    visibility: visible;
    opacity: 1;
}

#cons::after {
    font-weight: bolder;
    content: "Logout";
    position: absolute;
    bottom: 1px;
    left: 30%;
    transform: translateX(80%);
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--bg-color-);
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0 0 5px var(--bg-color-);
    font-size: 15px;
}

#cons:hover::after {
    visibility: visible;
    opacity: 1;
}




.label9 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -28px;
    margin-left: -525px;

}

.label10 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -73px;
    margin-left: 259px;

}

.label20 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -73px;
    margin-left: 159px;

}

.label22 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -15px;
    margin-left: 58px;
}


.label11 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: 30px;
    margin-left: -608px;

}

.label12 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -15px;
    margin-left: 158px;
}

.label13 {

    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -78px;
    margin-left: -50px;


}

.label14 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -28px;
    margin-left: -630px;

}

.label15 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -73px;
    margin-left: 109px;
}

.label16 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: 30px;
    margin-left: -595px;
}

.label17 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -15px;
    margin-left: 68px;
}



.label18 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -28px;
    margin-left: -630px;

}

.label19 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -73px;
    margin-left: 50px;
}

.label23 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: 30px;
    margin-left: -595px;
}

.label24 {
    font-weight: 500;
    margin-bottom: 5px;
    position: absolute;
    margin-top: -15px;
    margin-left: 99px;
}



#nome_proprietario {

    position: absolute;
    margin-left: -400px;
}


#cpf_proprietario {

    position: absolute;
    margin-left: 300px;
    top: 280px;

}

.cpf_proprietario {
    margin-right: -100px;
    margin-top: 44px;

}

#fabricante {

    position: absolute;
    margin-left: -400px;
    margin-top: 60px;
}


#marca {

    position: absolute;
    margin-left: 300px;
    top: 428px;
}

.marca {

    margin-right: -95px;
    margin-top: 48px;

}

#nome {

    position: absolute;
    margin-top: -50px;
    margin-right: 20px;

}

#modelo {
    position: absolute;
    margin-left: -400px;

}

#motorizacao {
    position: absolute;
    margin-left: 300px;
    top: 280px;

}

#combustivel {

    position: absolute;
    margin-left: -400px;
    margin-top: 60px;
}

#cambio {

    position: absolute;
    margin-left: 300px;
    top: 428px;

}


#cor {
    position: absolute;
    margin-left: -400px;

}

#placa {
    position: absolute;
    margin-left: 300px;
    top: 280px;

}

#chassi {
    position: absolute;
    margin-left: -400px;
    margin-top: 60px;

}

#hodometro {
    position: absolute;
    margin-left: 300px;
    top: 428px;


}


/* eduarda */


#body1 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(95, 95, 95);
}



#conteiner1 {
    border-radius: 0px 20px;
    width: 800px;
    height: 500px;
    background-color: rgb(45, 45, 45);
    margin-top: 150px;
    margin-left: 335px;
}

#faixa1 {
    border-radius: 0px 50px 0px 20px;
    margin-top: 340px;
    position: absolute;
    height: 170px;
    width: 800px;
    background-color: white;

}

.header1 {
    text-align: left;
    margin-top: 50px;
    position: absolute;
}

.header1 h1 {
    margin: 50px;
    font-size: 21px;
    color: #e9e9e9;
}

.buttons1 {
    text-align: center;
    margin-top: 20px;
}

.button1 {
    width: 200px;
    padding: 12px 18px;
    margin: 10px 0;
    border: none;
    background-color: #a8a8a8;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    border-radius: 19px;
    font-weight: bold;
}

.button1:hover {
    background-color: #949494;
}

.admin-login1 {
    margin-top: -20px;
    color: #FFFFFF;
    text-align: right;
    margin-right: 20px;
}

.admin-login1 a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.admin-login1 a:hover {
    color: #717171;
}

.admin-login1 i {
    color: #000000;
    text-decoration: none;
    font-size: 19px;
}

.admin-login1 i:hover {
    color: #717171;
}

#conteiner2 {
    border-radius: 0px 20px;
    width: 800px;
    height: 500px;
    background-color: rgb(45, 45, 45);
    margin-top: 150px;
    margin-left: 335px;
}

#faixa2 {
    border-radius: 0px 50px 0px 20px;
    margin-top: 340px;
    position: absolute;
    height: 170px;
    width: 800px;
    background-color: white;

}

.header2 {
    text-align: left;
    margin-top: 50px;
    position: absolute;
}

.header2 h1 {
    margin: 50px;
    font-size: 22px;
    color: #e9e9e9;
}

.buttons2 {
    text-align: center;
    margin-top: 20px;
}

.button2 {
    width: 200px;
    padding: 12px 18px;
    margin: 10px 0;
    border: none;
    background-color: #a8a8a8;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    border-radius: 19px;
    font-weight: bold;
}

.button2:hover {
    background-color: #949494;
}

.admin-login2 {
    margin-top: -20px;
    color: #FFFFFF;
    text-align: right;
    margin-right: 20px;
}

.admin-login2 a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.admin-login2 a:hover {
    color: #717171;
}

.admin-login2 i {
    color: #000000;
    text-decoration: none;
    font-size: 19px;
}

.admin-login2 i:hover {
    color: #717171;
}

#conteiner3 {
    border-radius: 30px 0px 20px 0px;
    width: 800px;
    height: 500px;
    background-color: rgb(45, 45, 45);
    margin-top: 150px;
    margin-left: 335px;
}

#faixa3 {
    font-size: 10px;
    text-align: left;
    border-radius: 30px 0px 50px 0px;
    margin-top: 0px;
    position: absolute;
    height: 140px;
    width: 800px;
    background-color: white;

}

#faixa3 h1 {
    margin-top: 55px;
    margin-left: 30px;
}

.header3 {
    text-align: left;
    margin-top: 150px;
    position: absolute;
}

.header3 h1 {
    margin-top: 200px;
    margin: 50px;
    font-size: 15px;
    color: #e9e9e9;
}


.buttons3 h1 {
    color: #fff;
    font-size: 15px;
}


.buttons3 {
    margin-left: 10%;
    text-align: left;
    margin-top: 20px;
}

.button3 {
    display: flex;
    justify-content: center;
    margin: 10px 100px 10px 30px;
    align-items: center;
    width: 130px;
    padding: 6px 12px;
    border: none;
    background-color: #a8a8a8;
    color: rgb(45, 45, 45);
    font-size: 12px;
    cursor: pointer;
    border-radius: 19px;
    font-weight: bold;
}

.button3:hover {
    background-color: #949494;
}

.admin-login3 {
    margin-top: 20px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 30px;
}

.admin-login3 a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.admin-login3 a:hover {
    color: #717171;
}

.admin-login3 i {
    color: #000000;
    text-decoration: none;
    font-size: 19px;
}

.admin-login3 i:hover {
    color: #717171;
}

.input-group3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: #FFFFFF;

}

.input-group3 label {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: #FFFFFF;

}

.input-group3 input {
    background: rgba(255, 255, 255, 0.727);
    color: #000000;
    padding: 9px;
    margin: 7px 0;
    width: 190px;
    border: none;
    outline: none;
    border-radius: 12px;
}

.input-group3 input:focus {
    background: rgba(255, 255, 255, 0.495);
}

.input-group3 input::placeholder {
    color: #fff;
}

.input-group3 a {
    text-decoration: none;
    margin: 8px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.form-container3 {
    margin-left: 65px;
    margin-top: 20px;
    float: left;
    width: 50%;
}

.form-container3 form {
    display: flex;
    flex-direction: column;
}

.form-container3 label {
    font-size: 15px;
    margin-bottom: 5px;
}

.text-container3 {
    margin-top: 35px;
    margin-left: 345px;
    float: right;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.container3 {
    display: flex;
    justify-content: space-between;
}

.left-div3,
.right-div3 {
    width: 50%;
    padding: 10px;
}

.right-div3 {
    padding: 10px;
    float: right;
}

#conteiner4 {
    border-radius: 30px 0px 20px 0px;
    width: 800px;
    height: 500px;
    background-color: rgb(45, 45, 45);
    margin-top: 150px;
    margin-left: 335px;
}

#faixa4 {
    font-size: 10px;
    text-align: left;
    border-radius: 30px 0px 50px 0px;
    margin-top: 0px;
    position: absolute;
    height: 140px;
    width: 800px;
    background-color: white;

}

#faix4 h1 {
    margin-top: 55px;
    margin-left: 30px;
}

.header4 {
    text-align: left;
    margin-top: 150px;
    position: absolute;
}

.header4 h1 {
    margin-top: 200px;
    margin: 50px;
    font-size: 15px;
    color: #e9e9e9;
}


.buttons4 h1 {
    color: #fff;
    font-size: 15px;
}


.buttons4 {
    margin-left: 10%;
    text-align: left;
    margin-top: 20px;
}

.button4 {
    display: flex;
    justify-content: center;
    margin: 10px 100px 10px 30px;
    align-items: center;
    width: 130px;
    padding: 6px 12px;
    border: none;
    background-color: #a8a8a8;
    color: rgb(45, 45, 45);
    font-size: 12px;
    cursor: pointer;
    border-radius: 19px;
    font-weight: bold;
}

.button4:hover {
    background-color: #949494;
}

.admin-login4 {
    margin-top: 20px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 30px;
}

.admin-login4 a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.admin-login4 a:hover {
    color: #717171;
}

.admin-login4 i {
    color: #000000;
    text-decoration: none;
    font-size: 19px;
}

.admin-login4 i:hover {
    color: #717171;
}

.input-group4 {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: #FFFFFF;

}

.input-group4 label {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: #FFFFFF;

}

.input-group4 input {
    background: rgba(255, 255, 255, 0.727);
    color: #000000;
    padding: 9px;
    margin: 7px 0;
    width: 190px;
    border: none;
    outline: none;
    border-radius: 12px;
}

.input-group4 input:focus {
    background: rgba(255, 255, 255, 0.495);
}

.input-group4 input::placeholder {
    color: #fff;
}

.input-group4 a {
    text-decoration: none;
    margin: 8px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.form-container4 {
    margin-left: 80px;
    margin-top: 20px;
    float: left;
    width: 50%;
}

.form-container4 form {
    display: flex;
    flex-direction: column;
}

.form-container4 label {
    font-size: 15px;
    margin-bottom: 5px;
}

.text-container4 {
    margin-top: 35px;
    margin-left: 345px;
    float: right;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.container4 {
    display: flex;
    justify-content: space-between;

}

.left-div4,
.right-div4 {
    width: 50%;
    padding: 10px;
}

.right-div4 {
    padding: 10px;
    float: right;/
}

#conteiner5 {
    border-radius: 0px 20px 0px 20px;
    width: 800px;
    height: 500px;
    background-color: rgb(45, 45, 45);
    margin-top: 150px;
    margin-left: 335px;
}

#faixa5 {
    font-size: 10px;
    text-align: right;
    border-radius: 0px 20px 0px 50px;
    margin-top: 0px;
    position: absolute;
    height: 140px;
    width: 800px;
    background-color: white;

}

#faixa5 h1 {
    margin-top: 55px;
    margin-right: 30px;
}

.header5 {
    text-align: left;
    margin-top: 150px;
    position: absolute;
}

.header5 h1 {
    margin-top: 200px;
    margin: 50px;
    font-size: 15px;
    color: #e9e9e9;
}


.buttons5 h1 {
    color: #fff;
    font-size: 15px;
}


.buttons5 {
    margin-left: 10%;
    text-align: left;
    margin-top: 20px;
}

.button5 {
    display: flex;
    justify-content: center;
    margin: 10px 100px 10px 30px;
    align-items: center;
    width: 130px;
    padding: 6px 12px;
    border: none;
    background-color: #a8a8a8;
    color: rgb(45, 45, 45);
    font-size: 12px;
    cursor: pointer;
    border-radius: 19px;
    font-weight: bold;
}

.button5:hover {
    background-color: #949494;
}

.admin-login5 {
    margin-top: 20px;
    color: #FFFFFF;
    text-align: right;
    margin-right: 30px;
}

.admin-login5 a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.admin-login5 a:hover {
    color: #717171;
}

.admin-login5 i {
    color: #000000;
    text-decoration: none;
    font-size: 19px;
}

.admin-login5 i:hover {
    color: #717171;
}

.input-group5 {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: #FFFFFF;

}

.input-group5 label {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: #FFFFFF;

}

.input-group5 input {
    background: rgba(255, 255, 255, 0.727);
    color: #000000;
    padding: 9px;
    margin: 7px 0;
    width: 190px;
    border: none;
    outline: none;
    border-radius: 12px;
}

.input-group5 input:focus {
    background: rgba(255, 255, 255, 0.495);
}

.input-group5 input::placeholder {
    color: #fff;
}

.input-group5 a {
    text-decoration: none;
    margin: 8px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.form-container5 {
    margin-left: 75px;
    margin-top: 20px;
    float: left;
    width: 50%;
}

.form-container5 form {
    display: flex;
    flex-direction: column;
}

.form-container5 label {
    font-size: 15px;
    margin-bottom: 5px;
}

.text-container5 {
    margin-left: 345px;
    float: right;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.container5 {
    display: flex;
    justify-content: space-between;

}

.left-div5,
.right-div5 {
    width: 50%;
    padding: 10px;
}

.right-div5 {
    padding: 10px;
    float: right;
}

#conteiner6 {
    border-radius: 0px 20px 0px 20px;
    width: 800px;
    height: 500px;
    background-color: rgb(45, 45, 45);
    margin-top: 150px;
    margin-left: 335px;
}

#faixa6 {
    font-size: 10px;
    text-align: right;
    border-radius: 0px 20px 0px 50px;
    margin-top: 0px;
    position: absolute;
    height: 140px;
    width: 800px;
    background-color: white;

}

#faixa6 h1 {
    margin-top: 55px;
    margin-right: 30px;
}

.header6 {
    text-align: left;
    margin-top: 150px;
    position: absolute;
}

.header6 h1 {
    margin-top: 200px;
    margin: 50px;
    font-size: 15px;
    color: #e9e9e9;
}


.buttons6 h1 {
    color: #fff;
    font-size: 15px;
}


.buttons6 {
    margin-left: 10%;
    text-align: left;
    margin-top: 20px;
}

.button6 {
    display: flex;
    justify-content: center;
    margin: 10px 100px 10px 30px;
    align-items: center;
    width: 130px;
    padding: 6px 12px;
    border: none;
    background-color: #a8a8a8;
    color: rgb(45, 45, 45);
    font-size: 12px;
    cursor: pointer;
    border-radius: 19px;
    font-weight: bold;
}

.button6:hover {
    background-color: #949494;
}

.admin-login6 {
    margin-top: 20px;
    color: #FFFFFF;
    text-align: right;
    margin-right: 30px;
}

.admin-login6 a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.admin-login6 a:hover {
    color: #717171;
}

.admin-login6 i {
    color: #000000;
    text-decoration: none;
    font-size: 19px;
}

.admin-login6 i:hover {
    color: #717171;
}

.input-group6 {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: #FFFFFF;

}

.input-group6 label {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: #FFFFFF;

}

.input-group6 input {
    background: rgba(255, 255, 255, 0.727);
    color: #000000;
    padding: 9px;
    margin: 7px 0;
    width: 190px;
    border: none;
    outline: none;
    border-radius: 12px;
}

.input-group6 input:focus {
    background: rgba(255, 255, 255, 0.495);
}

.input-group6 input::placeholder {
    color: #fff;
}

.input-group6 a {
    text-decoration: none;
    margin: 8px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.form-container6 {
    margin-left: 65px;
    margin-top: 20px;
    float: left;
    width: 50%;
}

.form-container6 form {
    display: flex;
    flex-direction: column;
}

.form-container6 label {
    font-size: 15px;
    margin-bottom: 5px;
}

.text-container6 {
    margin-right: 345px;
    float: right;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.container6 {
    display: flex;
    justify-content: space-between;
}

.left-div6,
.right-div6 {
    width: 50%;
    padding: 10px;
}

.right-div6 {
    padding: 10px;
    float: right;
}


@media screen and (min-width: 1024px) {

    header,
    .hd,
    .hd1 {
        margin-right: 1400px;
        width: 3%;
        padding: 5px;
        padding-bottom: 50px;
    }

    #bnte {
        margin-left: 2px;
    }

    nav {
        margin-bottom: 20px;
    }

    nav a {
        display: block;
        margin-bottom: 30px;
        position: relative;
        top: 100px;
        margin-left: -4px;
    }

    #cons {
        margin-left: 1px;
    }
}